/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2021, 11:53:24 PM
    Author     : HUU NGHI
*/


#topPane {
    -fx-background-color:  #37474f;
}

.jfx-radio-button {
    -fx-selected-color: #263238;
    -fx-unselected-color: white;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #263238;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color: white;
    -fx-font-weight: bold;
}

.button:pressed:hover {
    -fx-background-color: #b0bec5;
}
